:root{  //global scope
//declaring global custom property
  --blur: 0px;
  --brightness: 96%;
  --contrast: 94%;
  --grayscale: 64%;
  --hue-rotate: 0deg;
  --invert: 0%;
  --opacity: 100%;
  --saturate: 6;
  --sepia: 33%;
}

body{
  overflow: hidden;
}

img {
  filter: blur(var(--blur))
          brightness(var(--brightness))
          contrast(var(--contrast))
          grayscale(var(--grayscale))
          hue-rotate(var(--hue-rotate))
          invert(var(--invert))
          opacity(var(--opacity))
          saturate(var(--saturate))
          sepia(var(--sepia));  //CSS filter property
}

section{
  background: darkgrey;
  padding-top: 40px;
  font-weight: bold;
  padding-bottom: 70px;
}

.col-md-1 ul li .fas{
  position: relative;
  top: 10px;
  right: 5px;
  font-size: 20px;
  padding-bottom: 30px;
}

.col-md-1 ul li .fas:hover{
  cursor: pointer;
  color: white;
}

.col-md-2 ul li span{
  display: flex;
}

ul{
  list-style: none;
}

.btn{
  margin-right: 5px;
}
