:root {  //global scope
//declaring global custom property
  --base: #ffc600;
  --blur: 10px;
  --brightness: 50%;
  --contrast: 10%;
  --grayscale: 10%;
  --hue-rotate: 90deg;
  --invert: 10%;
  --opacity: 100%;
  --saturate: 5;
  --sepia: 20%;

}

img {
  background: var(--base);
  filter: blur(var(--blur))
          brightness(var(--brightness))
          contrast(var(--contrast))
          grayscale(var(--grayscale))
          hue-rotate(var(--hue-rotate))
          invert(var(--invert))
          opacity(var(--opacity))
          saturate(var(--saturate))
          sepia(var(--sepia));  //CSS filter property
}

.highlight {
  color: var(--base);
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.section{
  display: flex;
}

.image{
  position: absolute;
  right: 30%;
  border: solid white;
}

.controls {
  position: absolute;
  left: 75%;
  border: solid white;
}

input {
  width: 100px;
}

ul{
  list-style: none;
}
